$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/*************************BODY**************************/
/*************************HTML*****************************/
html, body {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}



/**********************************************************/
/***************************CONTAINER**********************/

  .AppdoitSize{
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  margin: 0;

 /***************************pushy*******************/ 

 .container{

    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    position: relative;
    margin: 0;
    right: 0;
    left: 0;
    padding: 0;

.push{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: relative;
  right: 0;
  left: 0;

  /***********************************************************/
/***********************CUSTOM HEADER***********************/


/* Menu nav btn */
.menu-btn {
  
  position: fixed;
  top:0;
  left: 0;
  padding: 0;
  border: 0;
  height: 8%;
  width: 15%;
  font-weight: bold;
  font-size: 220% ;
  background: #E5001B;
  
}

/* Making it look like it is*/
.menu-btn:before{
  content: "";
  position: absolute;
  left: 23%;
  top: 34%;
  width: 50%;
  height: 6%;
  background: #fff;
  box-shadow: 
    0 0.5em 0 0 white,
    0 0.25em 0 0 white;
}

 .header{
  position: fixed;
  z-index: 2;
  top: 0%;
  left: 15%;
  right: 0%;
  width: 85%;
  height: 8%;
  background: #E5001B;
  padding: 0%;
  }

/* Putting "Benvenuto" in the header */
  .headerText{
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 185%;
    float: center;
    bottom: 14%;
    left: 23%;
    top: 14%;

  }


 
/***************************SWIPER************************/
.swiper-container {
        top: 0%;
        bottom: 0;
        right: 0;
        left: 0;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 52.2%;
        margin: 0;
        padding: 0;
    }
      .swiper-slide {
        text-align: center;
        height: 100%;
        width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

  .swiper-pagination {
     top: 70%; 

     .swiper-pagination-bullet{
      background-color: #fff;
      width: 3%;
      height: 13%;
      opacity: 1;
     }

    .swiper-pagination-bullet-active{
    background: #E5001B;
    opacity: 1;
    } 

  }
/*********************TILES******************************/

/* Ghostly tile with "Benvenuto" at the bottom of the image slider */
h1{
  position: absolute;
  z-index: 2;
  bottom: 48%;
  height: 9%;
  left: 5%;
  width: 40%;
  margin-bottom: 0;
  margin-top: 0;
  background: rgba(255,255,255,0.6);
}
/* Putting into it the text */
h1 span{
  color: #000;
  font-size: 70%; 
  padding-left: 2%;
  padding-right: 0%;
  bottom: 0;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

/* Little red tile on the left of h1 */
h2{
  z-index: 2;
  position: absolute;
  bottom: 48%;
  left: 0;
  width: 5%;
  height: 9%;
  background: #E5001B;
  margin-bottom: 0;
  margin-top: 0;

} 

/***********************TEXTBOX***********************/
/* TextBox, hidden to hide the scrollbar and
   inner - overflow: auto lets it be responsive*/

.textBox{
  width: 86%;
  height: 24%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  font-family: "Open Sans", Ag abc123, serif;
  font-weight: bold;
  font-size: 122%;
  text-align: left;
  bottom: 18%;
  position: fixed;
  overflow: hidden;
  left: 7%;
  right: 7%;
  color: #000;
}

#inner{
  width: 100%;
  height: 100%;
  overflow: auto;
}

/********************BOTTOMBUTTON*************************/
/* unica.it btn */
.mainBtn{

  display: block;
  height: 8%;
  width: 62%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  position: fixed;
  padding: 0;
  left: 18%;
  right: 0;
  bottom: 3%;
  font-weight: bold;
  border: #000;
  font-size: 130%;
}

/* fixing the default button using active attribute */
.btn-default.active{
  background-color: #E5001B;
  color: #fff;
  line-height: 3;
}

.benvenuto{

border-bottom: 1px solid rgba(107, 107, 107, 1);
}

a:hover, a:focus{
  text-decoration: none;
}

/**********************************************************/
/********************PUSHY******************************/
.pushy{
    width: 100%; 
}

.pushy-left{
    transform: translate3d(-100%,0,0); /* Updated the values */
    /* Don't forget the vendor prefixes */
    background-color: #fff;
    opacity: 0;


}

.container-push, .push-push{
    transform: translate3d(100%,0,0); /* Updated the values */
    /* Don't forget the vendor prefixes */

}

.pushy-open{
  width: 77%;
  margin-left: -65%;
  background-color: rgba(199, 198, 198, 1);
  
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 0%;
  overflow-x: auto;
  font-size: 100%;


}

}
}
}

