
    <div class="myNew1Header">
        <span class="myNew1HeaderText">{{data.myHeaderText}}</span>

        <a ng-href="#news" class="btn-back" style="{{data.myBackground}}"></a>
    </div>

    <div class="myContainer">
    	<div class="new1ImageContainer" style="{{data.new1Background}}">	</div>
            <div class="textTile"><span>{{data.textTile}}</span></div>
                <div class="textContainer">
    			<div class="littleDate">{{data.littleDate}}</div>
    				<div class="longText">{{data.longText}}</div>
                        <div class="myBorder"></div>
                            <a ng-href="#OPmyNew2">
    					       <div class="nextNew">{{data.nextNew}}</div> 
                                    <div class="nextNewArrow" style="{{data.nextArrow}}"></div>
                            </a>
                </div>        	
                                
    </div>