
<div ng-init="initGetRequestMyNews2()">  
  <div class="myNew2Header">
    <span class="myNew2HeaderText">{{data.myHeaderText}}</span>

    <a ng-href="#news" class="btn-back" style="{{data.myBackground}}"></a>
</div>

<div class="myContainer">
    <div class="new2ImageContainer" style="{{data.new2Background}}"> </div>
    <div class="textTile"><span>{{data.textTile}}</span></div>
    <div class="textContainer">
        <div class="littleDate">{{data.littleDate}}</div>
        <div class="longText">{{data.longText}}</div>
        <div class="myBorder"></div>
        <a ng-href="#OPmyNew1">
         <div class="oldNew">{{data.oldNew}}</div> 
         <div class="oldNewArrow" style="{{data.oldArrow}}"></div>
     </a>
 </div>          
 
</div>
</div>