
<div class="book4MeHeader">
    <span class="headerText">{{book4MeHeaderText}}</span>
    	<a class="btn-back" ng-href="#booking" style="{{book4MeBackground}}"></a>
</div>


			<div class="book4MeArea">

					<div class="box1"><span>{{box1Text}}</span>
						<div class="box1Background" style="{{box1Image}}"></div>	
					</div>

						<div class="box2"><span>{{box2Text}}</span>
							<div class="box2Background" style="{{box2Image}}"></div>	
						</div>

								<div class="book4MeSend">
									<span>{{book4MeSendText}}</span>
								</div>
			</div>