  
  <div class="myNew2Header">
        <span class="myNew2HeaderText">{{myHeaderText}}</span>

        <a ng-href="#news" class="btn-back" style="{{myBackground}}"></a>
    </div>

    <div class="myContainer">
        <div class="new2ImageContainer" style="{{new2Background}}"> </div>
            <div class="textTile"><span>{{textTile}}</span></div>
                <div class="textContainer">
                <div class="littleDate">{{littleDate}}</div>
                    <div class="longText">{{longText}}</div>
                        <div class="myBorder"></div>
                            <a ng-href="#myNew1">
                               <div class="oldNew">{{oldNew}}</div> 
                                    <div class="oldNewArrow" style="{{oldArrow}}"></div>
                            </a>
                </div>          
                                
    </div>