
<div class="course1PageHeader">
    <span class="headerText">{{headerText}}</span>
    	<a class="btn-back" ng-href="#coursesPage" style="{{myBackground1}}"></a>
    		<a class="btn-backTwice" ng-href="#courses" style="{{myBackground2}}"></a>
</div>


				<div class="course1Area">
					<div class="course1Background" style="{{course1Image}}"></div>
						<div class="ghostlyTile1"><span>{{ghostText1}}</span></div>
							<div class="course1TextArea">
								<div class="course1Title"><span>{{Title1}}</span></div>
									<div class="course1Text"><span>{{Text1}}</span></div>
							</div>
				</div>