<!-- Custom header -->
<div class="coursesPageHeader">
    <span class="headerText">{{headerText}}</span>
    	<a class="btn-back" ng-href="#courses" style="{{myBackground}}"></a>
</div>


	<div class="coursesPageArea">
		<a class="course1" ng-href="#course1">
			<div class="coursesPageTextArea1">
				<div class="coursesPageBigText1">{{bigText1}}</div>
					<div class="coursesPageLittleText1">{{littleText1}}</div>
			</div>
						<div class="course1Image" style="{{course1Background}}"><div>

		</a>			

		<a class="course2" ng-href="#course2">
			<div class="coursesPageTextArea2">
				<div class="coursesPageBigText2">{{bigText2}}</div>
					<div class="coursesPageLittleText2">{{littleText2}}</div>
			</div>
						<div class="course2Image" style="{{course2Background}}"><div>
		</a>
	</div>