
<div class="course2PageHeader">
    <span class="headerText">{{headerText}}</span>
    	<a class="btn-back" ng-href="#OPcoursesPage" style="{{myBackground1}}"></a>
    		<a class="btn-backTwice" ng-href="#courses" style="{{myBackground2}}"></a>
</div>


				<div class="course2Area">
					<div class="course2Background" style="{{course2Image}}"></div>
						<div class="ghostlyTile2"><span>{{ghostText2}}</span></div>
							<div class="course2TextArea">
								<div class="course2Title"><span>{{Title2}}</span></div>
									<div class="course2Text"><span>{{Text2}}</span></div>
							</div>
				</div>