
<div ng-init="initGetRequestCourses()">
<!-- Custom header -->
<div class="coursesHeader">
    <span class="headerText">{{data.headerText}}</span>
    	<div class="menu-btn" ng-href="#courses" ></div>
</div>
	
	<a class="coursesArea" ng-href="#OPcoursesPage">
		<div class="textArea">
			<div class="centralBigText">{{data.bigText}}</div>
				<div class="centralLittleText">{{data.littleText}}</div>
		</div>

		<div class="coursesBackground" style="{{data.coursesImage}}">
		</div>
	</a>

<script src="bower_components/pushy/js/pushy.js"></script>
</div>