
<div ng-init="initGetRequestEvents()">
<!-- Custom header -->
<div class="eventsHeader">
    <span class="headerText">{{data.headerText}}</span>
    	<div class="menu-btn" ng-href="#events"></div>
</div>

		<div class="eventsArea">
				<div class="mainEventsArea">
					<div class="futureEvents" ng-click="changeEventFromFuture()"><span>{{data.futureEvent}}</span></div>
					<div class="oldEvents" ng-click="changeEventFromPast()"><span>{{data.oldEvent}}</span></div>
						<div class="{{data.tileStyle}}"></div>
							<div class="selectedEventsArea"></div>
				</div>
		</div>


<script src="bower_components/pushy/js/pushy.js"></script>
</div>