
 

    <div class="header">
        <span class="headerText">{{myHeaderText}}</span>
        <div class="menu-btn"></div>
        <a ng-href="#OPOptions" class="menu-btn2" style="{{mySettingsImage}}" ></a>
    </div>

    <div class="mapContainer">

        <div id="map-canvas"></div>

        <a ng-href="#OPFullmap" class="zoomy" 
           style="{{myZoomImage}}">
       </a>

    </div>

    <div class="infoContainer">
        <div ng-repeat="par in pars">
            <p class="{{par.className}}">{{par.text}}</p><br>
        </div>
    </div>

    
    
    <!--<script src="../scripts/maps.js"></script>-->
    <script src="bower_components/pushy/js/pushy.js"></script>
    <script src="../scripts/custom/myStaticMap.js"></script>

