
<div ng-init="initGetRequestMain()">

  <!-- Custom header -->
  <div class="mainHeader">
    <span class="headerText">{{data.myText}}</span>
    <div class="menu-btn" ng-href="#"></div>
  </div>

  <!-- Slider main container -->
  <div class="swiper-container">


    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

                            <!--
                            <div class="full-size" ng-repeat="slide in data.slides" ng-repeat-is-loaded="">
                              <div class="swiper-slide" ng-click="swipers()" style="{{slide.backgroundImage}}"></div>
                            </div>-->


          
          <div class="swiper-slide" ng-click="swipers()" style="{{data.background1}}"></div>
          <div class="swiper-slide" ng-click="swipers()" style="{{data.background2}}"></div>
          <div class="swiper-slide" ng-click="swipers()" style="{{data.background3}}"></div>
    </div>

          <div class="swiper-pagination"></div>
  </div>

                        <!--Tiles-->
                        <h1><span>{{data.myText}}</span></h1>
                        <h2></h2>

                        <!-- Making the textbox-->
                        <div class="textBox"> {{data.textBox1}}
                          <br><br>
                          {{data.textBox2}}
                        </div>

                        <!-- unica bottom button -->
                        <a href="{{data.myLink}}" target="_blank" type="button" class="mainBtn">
                          <span>{{data.myLink}}</span>
                          <i class="" style="{{data.myStyle}}"></i>
                        </a>

                       
                        <!--<script src="scripts/custom/main/swipers.js"></script>-->
                        <!-- <script type="text/javascript-lazy" src="scripts/custom/main/swipers.js"></script> -->
                        <script src="bower_components/pushy/js/pushy.js"></script>
                        <!--<lazy-load dirtype="text/javascript-lazy" src="scripts/custom/main/swipers.js"></lazy-load>-->

</div>

