
<!-- Custom header -->
<div class="reportHeader">
    <span class="headerText">{{headerText}}</span>
    	<div class="menu-btn" ng-href="#report" ></div>
</div>
	
			<div class="reportContainer">
				<a ng-href="#OPObjReport">
					<div class="choseObj">
						<div class="addObj" style="{{myBackground}}"></div>
						<span>{{choseObjtext}}</span>
					</div>
				</a>		
							
							<textarea class="writeMe" placeholder="{{writeMeText}}"/> 
								<div class="sendMe"><span>{{sendMeText}}</span></div>
			</div>

<script src="bower_components/pushy/js/pushy.js"></script>