
<!-- Custom header -->
<div class="reportHeader">
    <span class="headerText">{{headerText}}</span>
    	<div class="menu-btn" ng-href="#report" ></div>
</div>
	
			<div class="reportContainer">
				<a ng-href="#ObjReport">
					<div class="choseObj">
						<span>{{choseObjtext}}</span>
					</div>
				</a>
							<div class="writeMe"><span>{{writeMeText}}</span></div>
								<div class="sendMe"><span>{{sendMeText}}</span></div>
			</div>

<script src="bower_components/pushy/js/pushy.js"></script>