.contentContainer{
  position: fixed;
  top: 8%;
  height: 92%;
  width: 100%;

}

.subContentSection{
  top: 0;
  height: 25%;
  width: 100%;

}

.new1, .new2{
  height: 50%;
  width: 100%;
  border-bottom: 1px solid #646162;
}



.new2{
  top: 50%;
}

.pContainer{
  
  position: relative;
  width: 70%;
  margin-top: 4%;
  height: 50% !important;
}

.p4{
  
  font-weight: bold;
  font-size: 110%;
  top: 16%;
}

.p5{
  font-size: 94%;
  top: 36%;
}

.p6{
  font-size: 80%;
  top: 60%;
  font-style: italic;
}


.img1{
  width: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  margin: 0;
  position: absolute;
  z-index: 2;
  height: 14.5%;
  left: 70%;
  top: 0;
}

.img2{
  width: 30%;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  margin: 0;
  position: absolute;
  z-index: 2;
  height: 15.5%;
  left: 70%;
  top: 14.5%;
}

