
.course2PageHeader{
  position: fixed;
  z-index: 2;
  top: 0%;
  left: 15%;
  right: 0%;
  width: 70%;
  height: 8%;
  background: #E5001B;
  padding: 0%;
  }

  .course2PageHeader span{left: 19%;}

  .btn-backTwice{
  	position: fixed;
  	z-index: 2;
  	top: 0%;
  	left: 85%;
  	right: 0%;
  	width: 15%;
  	height: 8%;
  	background: #E5001B;
  	padding: 0%;
  	background-repeat: no-repeat;
  	background-position: 45% 45%;
  	background-size: 64%;
  }

  .course2Area{height: 92%; top: 8%; position: fixed; width: 100%;}

  .course2Background{height: 46%; top: 8%; width: 100%; position: fixed; background-size: cover; background-repeat: no-repeat;}

  .course2TextArea{height: 46%; top: 54%; position: fixed; width: 100%;}

  .ghostlyTile2{z-index: 2; height: 8%; width: 100%; top: 46%; position: fixed; line-height: 3; background: rgba(255,255,255,0.6);
  				}

  .ghostlyTile2 span{  
  	color: #000;
  	font-size: 135%;
  	padding-left: 8%;
  	padding-right: 0%;
  	bottom: 0;
  	height: 100%;
  	margin-bottom: 0;
  	margin-top: 0;
  	}

  	.course2Title{top: 56%; left: 8%; position: fixed;}

  	.course2Title span{font-size: 123%; color: #646162; font-family: Open Sans, helvetica, arial, serif !important; font-weight: bold;}

  	.course2Text{top: 60%; left: 8%; position: fixed;}

  	.course2Text span{font-size: 105%; color: #646162; font-family: Open Sans, helvetica, arial, serif !important; font-weight: bold;}
