

    
    <div class="header">
        <span class="headerText">Info & Contatti</span>
        <div class="menu-btn"></div>
        <a ng-href="#options"class="menu-btn2" style="background-image: url('../images/settings.png')"></a>
    </div>

    <div class="mapContainer">
         
        <!--Custom directive my-maps-->
        <!--<mymaps id="map-canvas"></mymaps>-->
        <a ng-href="#fullmap" class="zoomy" 
           style="background-image: url('../images/zoom.png')">
       </a>

    </div>

    <div class="infoContainer">
            <p class="p1">Sergio Melchiorre {{prova}}</p><br>
            <p class="p2">Segretario generale Università</p><br>
            <p class="p3">Via Roma 09010, Cagliari</p>
    </div>
    
    <!--<script src="../scripts/maps.js"></script>-->
    <script src="bower_components/pushy/js/pushy.js"></script>
