
<!-- Custom header -->
<div class="mainHeader">
    <span class="headerText">{{myText}}</span>
    <a href="#/"class="menu-btn"></a>
</div>

        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <!--
                <div ng-repeat='slide in slides'>
                    <div class="{{slide.swipe}}" ng-click="{{slide.script}}" style="{{slide.backgroundImage}}"></div>
                </div>-->
                <div class="swiper-slide" ng-click="swipers()" style="background-image: url('images/img1.jpg')"></div>
                <div class="swiper-slide" ng-click="swipers()" style="background-image: url('images/img2.jpg')"></div>
                <div class="swiper-slide" ng-click="swipers()" style="background-image: url('images/img3.jpg')"></div>
            </div>

                  <div class="swiper-pagination"></div>
        </div>

                    <!--Tiles-->
                    <h1><span>{{myText}}</span></h1>
                      <h2></h2>

                        <!-- Making the textbox-->
                        <div class="textBox"> {{textBox1}}
                          <br><br>
                            {{textBox2}}
                        </div>

                            <!-- unica bottom button -->
                            <a href="{{myLink}}" target="_blank" type="button" class="{{myButton}}">
                              <span>{{myLink}}</span>
                                <i class="" style="{{myStyle}}"></i>
                            </a>


<script src="bower_components/pushy/js/pushy.js"></script>
<script src="scripts/custom/swipers.js"></script> 
