 <!-- unica bottom button -->
  <button id="unica" class="mainBtn btn-lg btn-default active" name="unica" type="submit" href="http://www.unica.it/">
    <span>http://www.unica.it/</span>
      <i class="" style="font-size:30px; vertical-align: middle;"></i>
  </button>

  <!--Menu btn-->
  <a href="#menu" class="menuBtn"></a>


  <div class="textBox"> Quest'App ha lo scopo di riportare notizie relative all'Università di Cagliari, fare segnalazioni, conoscere contatti utili e visualizzare i corsi disponibili.
  <br><br>
  Puoi anche visitare:</div>


  <div class="header"><span class="headerText">Benvenuto</span></div>

<!--Tiles-->
<h1><span>Benvenuto</span></h1>
<h2></h2>

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background-image: url('images/img1.jpg')"></div>
        <div class="swiper-slide" style="background-image: url('images/img2.jpg')"></div>
        <div class="swiper-slide" style="background-image: url('images/img3.jpg')"></div>
        
    </div>

    <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Initialize Swiper -->
    <script>
    $(document).ready(function () {
    var swiper = new Swiper('.swiper-container',{
        direction: 'horizontal',
        paginationClickable: 'true'
        })
    });
    </script>