 <section class="demo">
  
  <button id="unica" class="mainBtn btn-lg btn-default active" name="unica" type="submit">
    <span>http://www.unica.it/</span>
    <i class="" style="font-size:30px; vertical-align: middle;"></i>
    </button>

    <a href="#menu" class="menuBtn">
  
    </a>


  <!--<button type="button" class="menuBtn btn-default btn-lg active">
  <span class="glyphicon glyphicon-nav" aria-hidden="true"></span>
  <i class="" style="font-size:30px; vertical-align: middle;"></i>
</button>-->


  <div class="container">
    <div style="display: inline-block;">
      <img src="images/img1.jpg"/>
    </div>
    <div>
     <img src="images/img2.jpg"/>
    </div>
    <div>
      <img src="images/img3.jpg"/>
    </div>
  </div>
</section>

<h1><span>Benvenuto</span></h1>

<h2></h2>


</div>

