
<!-- Custom header -->
<div class="headerfull">
    <span class="headerText">{{headerText}}</span>
    	<div class="menu-btn" ng-href="#news" ></div>
</div>

			<div class="contentContainer">
				<div class="subContentSection">
					<div class="new1" ng-click="go('../#')">
						<div class="img1" style="{{myBackground1}}"></div>
							<div class="pContainer">
								<div ng-repeat="par1 in pars1">
            						<p class="{{par1.className}}">{{par1.text}}</p><br>
       							</div>
								
							</div>
					</div>

					<div class="new2">
						<div class="img2" style="{{myBackground2}}"></div>
							<div class="pContainer">
								<div ng-repeat="par2 in pars2">
            						<p class="{{par2.className}}">{{par2.text}}</p><br>
       							</div>
							</div>
					</div>
				</div>
			</div>

<script src="bower_components/pushy/js/pushy.js"></script>