<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/pages.css">
</head>
<body ng-app="">

	<!-- Custom header -->
<div class="headerfull">
    <span class="headerText">Ultime Notizie</span>
    <a href="../#/"class="menu-btn"></a>
</div>

<div class="contentContainer">
	<div class="subContentSection">
		<div class="new1">
			<div class="img1" style="background-image: url('../images/consiglio.jpg')"></div>
			<div class="pContainer">
			<p class="p4">Proseguono Incontri Rettore</p>
			<p class="p5"> Proseguono gli incontri dei candid...</p>
			<p class="p6">4-Marzo 2015</p>
			</div>
		</div>
		<div class="new2">
			<div class="img2" style="background-image: url('../images/atzori.png')"></div>
			<div class="pContainer">
			<p class="p4"> Atzori vince premio Google</p>
			<p class="p5"> Cagliari, 3 marzo 2015 - E' stato as...</p>
			<p class="p6">3-Marzo 2015</p>
		</div>
		</div>
	</div>
</div>

</body>
</html>