
   
    <div class="headerfull">
        <span class="headerText">{{headerText}}</span>
        <a href="#info"class="btn-back" style="{{myBackground}}"></a></div>

    <div class="optContainer">
        <p class="optp">{{optionsText1}}</p><br>
        
        <p class="optprivacy" onclick="show()">
            {{optionsText2}}
        </p>
         
         <div class="switchbtn">
                <div class="button-wrap">
                <div class="button-bg">
                <div class="button-out"></div>
                <div class="button-in"></div>
                <div class="button-switch"></div>
                </div>
                </div>
         </div>

         <div class="onbtn" style="color: #000">ON</div>
         <div class="offbtn" style="color: #000">OFF</div>

    </div>

    <div id="popup">
        <div class="txtBox"> 
            <div class="myText">{{privacyText}}</div>
 
            <button class="{{privacyButton}}"
                    onclick="show()">
            <span>CHIUDI</span>
            <i class="" style="{{privacyButtonStyle}}"></i>
            </button>
        </div>
    </div>

    
  
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!--Custom Scripts-->
    <script src="../../scripts/custom/infoBtn.js"></script>
    <script src="../../scripts/custom/privacyPopUp.js"></script>
