<!DOCTYPE html>

<html>
<head>

    <title></title>
    <!--This meta enables different devices to adapt our App for their own resolution-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../styles/pages.css">
    
</head>

<body ng-app="">

   
    <div class="headerfull">
        <span class="headerText">Info & Dettagli</span>
        <a href="../info.html"class="btn-back" style="background-image: url('../../images/back.png')"></a></div>

    <div class="optContainer">
        <p class="optp">Invia statistiche d'uso</p><br>
        
        <p class="optprivacy" onclick="show()">
            Guarda la nostra privacy policy 
        </p>
         
         <div class="switchbtn">
                <div class="button-wrap">
                <div class="button-bg">
                <div class="button-out"></div>
                <div class="button-in"></div>
                <div class="button-switch"></div>
                </div>
                </div>
        </div>
        
        <div class="onbtn" style="color: #000">ON</div>
        <div class="offbtn" style="color: #000">OFF</div>

    </div>

    <div id="popup">
        <div class="txtBox"> 
            <div class="myText">
            Informativa resa ai sensi dell'art. 13 del codice in materia di protezione dei dati personali. Ai sensi dell'art. 13 del D.Lgs. 196/2003, Codice in materia di protezione dei dati personali, Vi informiamo che i dati personali, forniti mediante l'invio di email di richiesta saranno trattati in forma automatizzata dal titolare dell'applicazione al fine di rispondere alle richieste di informazioni, di prodotti o di prestazioni inviate attraverso quest'App. Il conferimento dei dati è facoltativo ma l'eventuale rifiuto di rispondere determinerà l'impossibilità di essere contattati per la finalità su indicata. In ogni momento potete esercitare i diritti di cui all'art. 7 del Codice in materia di protezione dei dati personali tra i quali accedere alle informazioni che Vi riguardano e chiederne l'aggiornamento,la rettificazione e l'integrazione, nonchè la cancellazione. Potete altresì opporVi al Responsabile del trattamento dei dati di natura commerciale.
            </div>
 
            <button class="closeBtn btn-lg btn-default active"
                    onclick="show()">
            <span>CHIUDI</span>
            <i class="" style="font-size:40%; vertical-align: middle;"></i>
            </button>
        </div>
    </div>

    
  
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!--Custom Scripts-->
    <script src="../../scripts/infoBtn.js"></script>
    <script src="../../scripts/privacyPopUp.js"></script>


</body>

</html>